*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
  
    overflow-x: hidden;
}

#page1{
    height: 100vh;
    width:100%;
   
    position: relative;
    overflow: hidden;
}

#page1 .bg-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    object-fit: cover;
    z-index: 1;
     background:#dce9b2;
    border-bottom: 1px solid black;
}
#page1 .bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-bar{
    background:#2b2b6f;
    color:white;
    text-align:center;
    padding:10px;
    font-size:14px;
    font-weight:bold;
    letter-spacing:1px;

    position: relative;
    z-index: 10;
}

.navbar{
    width:98%;
    margin:15px auto;

    background:white;

    border:2px solid black;
    border-radius:18px;

    padding:18px 30px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    position: relative;
    z-index: 10;
}

.nav-left,
.nav-right{
    display:flex;
    align-items:center;
    gap:30px;
}

.nav-left a,
.nav-right a{
    text-decoration:none;
    color:black;
    font-size:15px;
    font-weight:500;
    white-space: nowrap;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.logo img{
    width:120px;
}

.cart{
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    cursor:pointer;
}
.nav-left a{
    text-decoration:none;
    color:black;

    font-size:15px;
    font-weight:500;

    display:flex;
    align-items:center;
    gap:6px;

    position:relative;
}
.nav-left a i{
    width:18px;
    height:18px;

    border:1px solid #7ea6d9;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:14px;

    background:#cfe1ff;
}
.nav-left a,
.nav-right a{
    text-decoration:none;
    color:black;
    font-size:15px;
    font-weight:500;

    position:relative;
}
.nav-left a::after,
.nav-right a::after{
    content:"";

    position:absolute;

    left:0;
    bottom:-5px;

    width:0%;
    height:2px;

    background:black;

    transition:0.3s;
}
.nav-left a:hover::after,
.nav-right a:hover::after{
    width:100%;
}
.cart i{
    font-size:32px;
    color:black;
}

.cart span{
    position:absolute;
    top:8px;
    right:-8px;
    background:gold;
    width:20px;
    height:20px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:12px;
    font-weight:bold;
    border:1px solid black;
}

.hero{
    min-height:85vh;

    display:flex;
    align-items:center;

    padding:40px 60px;

    position: relative;
    z-index: 10;
}

.hero-left{
    width:35%;
}

.hero-left h1{
    font-size:95px;
    font-family: serif;
    line-height:95px;
    margin-bottom:30px;
}

.hero-left p{
    font-size:22px;
    line-height:35px;
    margin-bottom:25px;
}

.hero-left h3{
    font-size:28px;
    margin-bottom:15px;
}

.hero-left h3 span{
    font-weight:bold;
}

.hero-left small{
    display:block;
    font-size:18px;
    margin-bottom:30px;
}

.hero-left button{
    padding:18px 45px;

    border:none;
    border-radius:40px;

    background:#2b2b6f;
    color:white;

    font-size:20px;
    cursor:pointer;
    margin-bottom: 30px;
}

.arrow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 10px;
    padding: 0 40px;
    z-index: 11;
}

.arrow img:first-child{
    width: 50px;
    height: 50px;
    background: #63d7c7;
    border-radius: 50%;
}

.arrow img:last-child{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    padding: 18px;
}


.mobile-bg{
    display:none;
}

.mobile-hero{
    display:none;
}


@media(max-width:1100px){

    .nav-left,
    .nav-right{
        gap:18px;
    }

    .nav-left a,
    .nav-right a{
        font-size:13px;
    }

    .logo img{
        width:105px;
    }

    .hero-left{
        width:45%;
    }

    .hero-left h1{
        font-size:75px;
        line-height:75px;
    }

    .hero-left p{
        font-size:18px;
        line-height:30px;
    }

    .hero-left h3{
        font-size:24px;
    }

    .hero-left small{
        font-size:16px;
    }

    .hero-left button{
        padding:15px 38px;
        font-size:18px;
    }
}


@media(max-width:600px){


    .hero:first-of-type{
        display:none;
    }


    .mobile-bg{
        display:block;
        position:absolute;
        z-index:1;
    }

    .mobile-bg img{
        width:100%;
        height:100%;
        object-fit:cover;
        object-position:center;
    }


    .navbar{
        width:95%;
        padding:15px 18px;

        display:flex;
        justify-content:space-between;
        align-items:center;

        position:relative;
        z-index:20;
    }


    .top-bar{
        position:relative;
        z-index:20;
    }


    .nav-left{
        width:auto;
    }

    .nav-left a{
        display:none;
    }

    .nav-left::before{
        content:"\ef3e";
        font-family:"remixicon";

        font-size:34px;
        color:black;
    }


    .logo{
        margin-left:0;
    }

    .logo img{
        width:95px;
    }


    .nav-right{
        width:auto;
    }

    .nav-right a{
        display:none;
    }

    .cart{
        width:35px;
        height:35px;
    }

    .cart i{
        font-size:24px;
    }


    .mobile-hero{
        display:flex;

        min-height:85vh;

        align-items:flex-end;

        padding:0 18px 110px;

        position:relative;
        z-index:999;
    }

    .hero2{
        width:100%;

        text-align:center;

        position:relative;
        z-index:999;
    }

    .hero2 h1{
        font-size:58px;
        line-height:58px;

        color:white;

        font-family:serif;
        font-weight:400;

        margin-bottom:20px;

        position:relative;
        z-index:15;
    }

    .hero2 p{
        font-size:14px;
        line-height:24px;

        color:white;

        margin-bottom:22px;

        padding:0 10px;

        position:relative;
        z-index:15;
    }

    .hero2 button{
        width:100%;

        padding:16px;

        font-size:17px;

        border:none;
        border-radius:40px;

        background:#2b2b6f;
        color:white;

        position:relative;
        z-index:15;
    }

    .arrow{
        width:100%;
        
        display:flex;
        justify-content:space-between;
        align-items:center;

        padding:0 12px;

        position:absolute;
        left:0;
        bottom:5px;
        z-index:25;
    }

    .arrow img:first-child{
        width:42px;
        height:42px;
    }

    .arrow img:last-child{
        width:85px;
        height:85px;
    }
}

#page2{
    width:100%;
    min-height:100vh;

    background:#f4f1e6;

    padding:60px 25px;
}

.page2-top{
    text-align:center;
}

.page2-top h1{
    font-size:82px;
    line-height:95px;

    font-family:serif;
    font-weight:400;

    margin-bottom:80px;
}

.page2-top h1 i{
    font-style:italic;
}

.page2-top span{
    display:inline-block;

    padding:12px 22px;

    background:#d9a8f0;

    border:2px solid #6d5a73;
    border-radius:8px;

    font-size:42px;
    font-weight:900;

    letter-spacing:1px;

    transform:rotate(-2deg);

    margin-bottom:60px;
}

.products{
    width:100%;

    display:flex;
    gap:20px;

    overflow-x:auto;
}

.products::-webkit-scrollbar{
    display:none;
}

.card{
    min-width:320px;
}

.card-img{
    height:360px;

    border:1px solid black;
    border-radius:10px;

    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;
}

.card-img img{
    width:70%;
    transition:0.4s;
}

.card:hover img{
    transform:scale(1.05);
}


.green{
    background:#b9e28a;
}

.yellow{
    background:#f4d27b;
}

.mint{
    background:#a7dbb3;
}

.blue{
    background:#b8d8ee;
}

.lime{
    background:#bfe067;
}


.rating{
    position:absolute;

    top:15px;
    right:15px;

    font-size:18px;
}


.tag{
    position:absolute;

    top:15px;
    left:15px;

    background:white;

    border:1px solid black;
    border-radius:6px;

    padding:6px 10px;

    font-size:14px;
    font-weight:600;
}

.card-img button{
    position:absolute;

    bottom:15px;
    right:15px;

    width:55px;
    height:55px;

    border:1px solid black;
    border-radius:12px;

    background:white;

    font-size:35px;
    cursor:pointer;
}


.card h2{
    font-size:24px;
    font-family:serif;
    font-weight:400;

    margin-top:18px;
    margin-bottom:15px;
}

.card h3{
    font-size:22px;
    margin-bottom:15px;
}

.card p{
    font-size:18px;
    line-height:30px;

    color:#555;
}


.bottom-btn{
    width:100%;

    display:flex;
    justify-content:center;

    margin-top:70px;
}

.bottom-btn button{
    padding:18px 50px;

    border:none;
    border-radius:40px;

    background:#2b2b6f;
    color:white;

    font-size:22px;
    cursor:pointer;
}
.line{
    width:100%;
    height:1.5px;

    background: black;

    margin-top:60px;
}

@media(max-width:900px){

    .page2-top h1{
        font-size:55px;
        line-height:70px;
    }

    .card{
        min-width:280px;
    }

    .card-img{
        height:320px;
    }
}

@media(max-width:600px){

    #page2{
        padding:40px 18px;
    }

    .page2-top h1{
        font-size:38px;
        line-height:52px;

        margin-bottom:50px;
    }

    .page2-top img{
        width:180px;
    }

    .card{
        min-width:240px;
    }

    .card-img{
        height:280px;
    }

    .card h2{
        font-size:22px;
    }

    .card h3{
        font-size:18px;
    }

    .card p{
        font-size:15px;
        line-height:24px;
    }

    .bottom-btn button{
        width:100%;
        font-size:18px;
        padding:16px;
    }


    .page2-top span{
        font-size:28px;

        padding:10px 18px;

        border-radius:6px;

        margin-top:10px;
    }


    .tag{
        font-size:11px;

        padding:5px 8px;

        border-radius:5px;
    }

    .rating{
        font-size:14px;
}
}

#page3{
    width:100%;
    min-height:100vh;
  
    background:#f4f1e6;

    padding:80px 0;
    z-index: 4;
    display:flex;
    justify-content:center;
}

.discover{
    width:55%;
}

.discover span{
    display:inline-block;

    padding:10px 16px;

    background:#ff7f2f;

    border:2px solid #5b473f;
    border-radius:6px;

    font-size:42px;
    font-weight:900;

    transform:rotate(-1deg);

    margin-bottom:35px;
}


.discover h1{
    font-size:78px;
    line-height:92px;

    font-family:serif;
    font-weight:400;

    margin-bottom:55px;
}

.discover h1 i{
    font-style:italic;
}


.search-box{
    width:420px;
    height:82px;

    border:1px solid #5b5b5b;
    border-radius:14px;

    margin-bottom:120px;

    display:flex;
    align-items:center;

    padding:0 35px;

    background:transparent;
}

.search-box input{
    width:100%;

    border:none;
    outline:none;

    background:transparent;

    font-size:28px;
    font-family:serif;

    color:#444;
}

.search-box input::placeholder{
    color:#a3a3a3;
}

.discover h4{
    font-size:20px;
    font-weight:500;

    margin-bottom:35px;
}


.vibes{
    display:flex;
    flex-wrap:wrap;
    gap:16px;
}

.vibes button{
    padding:12px 22px;

    border:1px solid #5c5c5c;
    border-radius:12px;

    background:#dfeaf9;

    font-size:22px;
    font-family:serif;

    cursor:pointer;

    transition:0.3s;
}

.vibes button:hover{
    background:#c8daf3;
}


@media(max-width:1100px){

    .discover{
        width:70%;
    }

    .discover h1{
        font-size:58px;
        line-height:72px;
    }
}

@media(max-width:700px){

    #page3{
        padding:50px 18px;
    }

    .discover{
        width:100%;
    }

    .discover span{
        font-size:26px;
        padding:8px 14px;
    }

    .discover h1{
        font-size:42px;
        line-height:54px;

        margin-bottom:40px;
    }

    .search-box{
        width:100%;
        height:70px;

        margin-bottom:70px;

        padding:0 25px;
    }

    .search-box input{
        font-size:22px;
    }

    .discover h4{
        font-size:15px;
    }

    .vibes{
        gap:12px;
    }

    .vibes button{
        font-size:16px;
        padding:10px 16px;

        border-radius:10px;
    }
}
#page4{
    width:100%;
    height:150vh;
    position:relative;
    z-index:12;

    overflow:visible;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding-top:100px;
}

.forest-bg{
    position:absolute;
    inset:0;

    z-index:1;
}

.forest-bg img{
    width:100%;
    height:100%;

    object-fit:cover;

    transform:scale(1.05);
}

.overlay{
    position:absolute;
    inset:0;

    background:rgba(0,0,0,0.18);

    z-index:2;
}

.origin-tag{
    position:relative;
    z-index:5;

    padding:10px 18px;

    background:#c8d8ff;

    border:2px solid #525252;
    border-radius:8px;

    font-size:34px;
    font-weight:900;

    transform:rotate(-2deg);

    margin-bottom:60px;
}

#page4 h1{
    position:relative;
    z-index:5;

    color:white;

    text-align:center;
     margin-top: 30px;
    font-size:145px;
    line-height:138px;

    font-weight:900;

    letter-spacing:2px;

    margin-bottom:80px;
}

#page4 p{
    position:relative;
    z-index:5;

    width:68%;

    color:white;

    text-align:center;

    font-size:56px;
    line-height:68px;

    font-family:serif;
    margin-top: 30px;
    margin-bottom:90px;
}

.stickers{
    position:relative;
    z-index:13;

    display:flex;
    align-items:center;
  margin-top: 30px;
    gap:45px;
}

.sticker{
    width:105px;
    height:105px;

    border-radius:50%;

    overflow:hidden;

    animation:float 3s ease-in-out infinite;
}

.sticker:nth-child(2){
    animation-delay:0.5s;
}

.sticker:nth-child(3){
    animation-delay:1s;
}

.sticker:nth-child(4){
    animation-delay:1.5s;
}

.sticker img{
    width:100%;
    height:100%;

    object-fit:cover;
}

.top-sticker{
    position:absolute;

    top:-95px;
    right:90px;

    z-index:999;

    width:150px;
    height:150px;
}

.top-sticker img{
    width:100%;
    height:100%;

    object-fit:contain;
}

.btn{
    width:100%;

    display:flex;
    justify-content:center;

    margin-top:95px;

    position:relative;
    z-index:20;
}

.btn button{
    padding:16px 42px;

    border:none;
    border-radius:40px;

    background:#f4f1e6;
    color:black;

    font-size:18px;
    font-weight:500;

    cursor:pointer;

    transition:0.3s ease;
}

.btn button:hover{
    background:#2b2b6f;
    color:white;
}

@keyframes float{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-18px);
    }

    100%{
        transform:translateY(0px);
    }
}

@media(max-width:1100px){

    #page4 h1{
        font-size:110px;
        line-height:110px;
    }

    #page4 p{
        width:80%;

        font-size:38px;
        line-height:58px;
    }
}

@media(max-width:700px){

    #page4{
        height:120vh;

        padding-top:70px;
    }

    .origin-tag{
        font-size:22px;

        padding:8px 14px;

        margin-bottom:40px;
    }

    #page4 h1{
        font-size:55px;
        line-height:68px;

        margin-bottom:45px;
    }

    #page4 p{
        width:90%;

        font-size:24px;
        line-height:40px;

        margin-bottom:55px;
    }

    .stickers{
        gap:18px;

        flex-wrap:wrap;
        justify-content:center;
    }

    .sticker{
        width:70px;
        height:70px;
    }

    .top-sticker{
        width:90px;
        height:90px;

        right:15px;
        top:15px;
    }

    .btn button{
        width:90%;
        padding:15px;
        font-size:18px;
        margin-top: 40px;
    }
}
#page5{
    width:100%;
    min-height:120vh;

    background:#f4f1e6;

    padding:120px 60px;
}

#page5 h1{
    text-align:center;

    font-size:82px;
    line-height:95px;

    font-family:serif;
    font-weight:500;

    margin-bottom:90px;
}

#page5 h1 i{
    font-style:italic;
}

.reviews{
    display:flex;
    justify-content:center;
    align-items:flex-end;

    gap:18px;

    flex-wrap:wrap;
}

.review-card{
    width:290px;
    height:620px;

    border:2px solid #4d4d4d;
    border-radius:14px;

    padding:22px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    transition:0.3s ease;
}
review-card green

.review-card:hover{
    transform:translateY(-10px);
}

.peach{
    background:#d69a79;
}

.green{
    background:#9ac55c;
}

.yellow{
    background:#ddb54d;
}

.lightgreen{
    background:#97c65e;
}

.purple{
    background:#bba5c8;
}

.review-text{
    margin-top:70px;

    text-align:center;
}

.review-text h2{
    font-size:24px;
    line-height:38px;

    font-family:serif;
    font-weight:500;

    margin-bottom:10px;
}

.review-text p{
    font-size:22px;
    color:#5f5f5f;
} 
.top{
    width:100%;

    display:flex;
    flex-direction:column;
    align-items:flex-start;

    padding-left:190px;

    margin-bottom:70px;
}

.top span{
    display:inline-block;
    padding:10px 18px;
    background:#7fd321;
    border:2px solid #4d4d4d;
    border-radius:8px;
    font-size:58px;
    font-weight:500;
    font-family:Impact, sans-serif;
    text-transform:uppercase;
    transform:rotate(-2deg);
    line-height:1;
    margin-bottom:10px;
}

.top h1{
    font-size:82px;
    line-height:95px;

    font-family:serif;
    font-weight:500;

    color:black;
}

.top h1 i{
    font-style:italic;
}
.product-box{
    width:100%;
    height:78px;
    border:2px solid #3f3f3f;
    border-radius:14px;
    overflow:hidden;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.product-left{
    display:flex;
    align-items:center;
}

.product-left img{
    width:72px;
    height:72px;

    object-fit:contain;

    border-right:2px solid #3f3f3f;

    padding:8px;
}

.product-left span{
    font-size:12px;
    line-height:18px;
    padding-left:12px;
    font-weight:500;
}

.product-box button{
    margin-right:12px;
    width:74px;
    height:52px;

    border-radius:30px;
    border:2px solid #4d4d4d;

    background:#efefef;

    font-size:16px;

    cursor:pointer;

    transition:0.3s ease;
}

.product-box button:hover{
    background:#2b2b6f;
    color:white;
}

@media(max-width:700px){

    #page5{
        padding:70px 20px;
    }

    #page5 h1{
        display: none;
    }

    .reviews{
        gap:20px;
    }
    .top{
        margin-left: -160px;
    }
    .top span{
        font-size: 40px;
    }


    .review-card{
        width:100%;
        height:auto;

        min-height:520px;
    }

    .review-text{
        margin-top:30px;
    }

    .review-text h2{
        font-size:22px;
        line-height:38px;
    }

    .review-text p{
        font-size:18px;
    }

    .product-left span{
        font-size:13px;
        line-height:16px;
    }

    .product-box button{
        width:65px;
        height:46px;

        font-size:14px;
    }
}


#page6{
    width:100%;
    height:100vh;

    display:flex;
}

.page6-left{
    width:50%;
    height:100%;
}

.page6-left img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.page6-right{
    width:50%;
    height:100%;

    background:#2d2b6d;

    display:flex;
    align-items:center;

    padding-left:70px;
}

.page6-right h1{
    color:white;

    font-size:82px;
    line-height:92px;

    font-family:serif;
    font-weight:400;
}
.page6-right button{
    display: none;
}

#page7{
    width:100%;
    min-height:100vh;

    background:#a76a27;

    padding:70px 20px;
}

.page7-top{
    width:100%;

    text-align:center;

    position:relative;

    margin-bottom:70px;
}

.top-badge{
    position:absolute;
    top:-160px;
    right:70px;
    width:150px;
    height:150px;
}

.top-badge img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.top11{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    margin-bottom:70px;
}

.top11 span{
    display:inline-block;
    padding:10px 22px;
    background:#f6c28e;
    border:2px solid #3b2a1b;
    border-radius:8px;
    font-size:42px;
    font-weight:900;
    text-transform:uppercase;
    transform:rotate(-2deg);
    margin-bottom:5px;
    color:#111;
}

.top11 h1{
    color:white;
    font-size:50px;
    line-height:95px;
    font-weight:700;
    text-transform:uppercase;
}

.top11 p{
    color:white;
    font-size:13px;
    font-weight:700;
    letter-spacing:1px;
}

.slider-card{
    width:100%;
    min-height:650px;

    background:#f5c793;

    border:2px solid #3d2a17;
    border-radius:24px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:40px 30px;
}
.slider-left{
    width:45%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:flex-end;

    position:relative;
}

.slider-left img{
    width:100%;
    max-width:620px;

    position:absolute;

    top: -400px;  
    left:50%;

    transform:translateX(-50%);

    object-fit:contain;
}
.slider-right{
    width:35%;
}

.slider-right span{
    display:inline-block;

    padding:8px 16px;

    background:#f0a24d;

    border:2px solid #3d2a17;
    border-radius:6px;

    font-size:42px;
    font-weight:900;

    transform:rotate(-2deg);

    margin-bottom:20px;
}

.slider-right h2{
    font-size:92px;
    font-family:serif;
    font-weight:400;

    margin-bottom:25px;
}

.slider-right p{
    font-size:28px;
    line-height:40px;

    margin-bottom:35px;

    width:90%;
}

.slider-right button{
    padding:18px 44px;

    border:none;
    border-radius:40px;

    background:white;

    font-size:22px;

    cursor:pointer;

    transition:0.3s;
}

.slider-right button:hover{
    background:#2d2b6d;
    color:white;
}


.slide-arrow{
    width:70px;
    height:70px;

    border:2px solid #3d2a17;
    border-radius:50%;

    background:white;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;
}

.slide-arrow i{
    font-size:38px;
}

@media(max-width:700px){

    #page6{
        width:100%;
        height:auto;
        display:flex;
        flex-direction:column;
    }

    .page6-left{
        width:100%;
        height:240px;
    }

    .page6-left img{
        width:100%;
        height:100%;
        object-fit:cover;
    }

    .page6-right{
        width:100%;
        background:#2d2b6d;

        padding:40px 20px 90px 20px;

        display:flex;
        flex-direction:column;
        align-items:center;

        text-align:center;

        position:relative;
    }

    .page6-right h1{
        color:#fff;

        font-size:42px;
        line-height:50px;

        font-family:serif;
        font-weight:400;

        margin-bottom:22px;
    }

    .page6-right p{
        width:100%;

        color:#fff;

        font-size:16px;
        line-height:28px;

        margin-bottom:28px;
    }

    .page6-right button{
        width:100%;
       display: initial;
        padding:16px;

        border:none;
        border-radius:40px;

        background:#fff;

        font-size:18px;

        cursor:pointer;
    }

    .badge{
        width:110px;
        height:110px;

        position:absolute;

        right:8px;
        bottom:-52px;

        z-index:50;
    }

    .badge img{
        width:100%;
        height:100%;
        object-fit:contain;
    }
    #page7{
        width:100%;
        min-height:100vh;
        background:#ab6f2a;
        padding:90px 14px 35px 14px;
    }

    .top11{
        width:100%;

        display:flex;
        flex-direction:column;
        align-items:center;

        text-align:center;
    }

    .top11 span{
        font-size:22px;

        padding:8px 18px;

        border-radius:8px;

        margin-bottom:20px;

        transform:rotate(-2deg);
    }

    .top11 h1{
        width:100%;
        font-size:42px;
        line-height:56px;
        text-align:center;
        margin-bottom:12px;
    }

    .top11 p{
        font-size:13px;
        letter-spacing:1px;
        margin-bottom: 80px;
    }

    .slider{
        width:100%;
        margin-top:45px;
        padding:20px 14px 28px 14px;
        border-radius:20px;
        position:relative;
        display:flex;
        flex-direction:column;
        align-items:center;
        overflow:hidden;
    }

    .slider-left{
        width:100%;
        display:flex;
        justify-content:center;
        position:relative;
        margin-bottom:12px;
    }

    .slider-left img{
        width: 350px;
        position:absolute;
        top: -455px;
        margin-bottom:-95px;
    }

    .slider-right{
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;

        text-align:center;
    }
    .slider-right h2{
        font-size: 40px;
    }
    .slider-right span{
        font-size:22px;
        padding:5px 14px;
        border-radius:8px;
        margin-top:56px;
    }


    .slider-right p{
        width:100%;

        font-size:14px;
        line-height:24px;

        margin-bottom:24px;
    }

    .slider-right button{
        width:210px;

        padding:15px;

        border:none;
        border-radius:40px;

        font-size:18px;

        background:#fff;
    }

.left-arrow,
.right-arrow{
    width:70px;
    height:70px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:26px;

    background:#fff;

    position:absolute;
    top:50%;

    transform:translateY(-50%);

    border:2px solid #2b2b2b;

    cursor:pointer;
}

    .left-arrow{
        left:-8px;
    }

    .right-arrow{
        right:-8px;
    }

}
#page8{
    width:100%;
    min-height:100vh;

    background:#f3f0e7;

    padding:40px 35px 80px 35px;
}

.page8-top{
    width:100%;

    display:flex;
    justify-content:center;

    margin-bottom:80px;
}

.page8-top h1{
    width:58%;

    text-align:center;

    font-size:78px;
    line-height:90px;

    font-family:serif;
    font-weight:400;

    color:#222;
}

.page8-top h1 i{
    font-style:italic;
}

.journal-cards{
    width:100%;

    display:flex;
    align-items:flex-start;
    justify-content:center;
    gap:18px;
    flex-wrap:wrap;
}

.top22{
    width:100%;

    padding:70px 60px 40px 60px;

    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.top22 span{
    display:inline-block;

    background:#f3b300;
    margin-left: 300px;
    padding:10px 18px;
    border:2px solid #222;
    border-radius:8px;
    font-size:42px;
    font-weight:900;
    text-transform:uppercase;

    transform:rotate(-2deg);
    margin-bottom:10px;
}

.top22 h1{
    width:60%;
    margin-left: 300px;
    color:#222;
    font-size:58px;
    line-height:52px;
    font-family:serif;
    font-weight:400;
}

.journal-card{
    width:320px;

    border:2px solid #242424;
    border-radius:18px;

    overflow:hidden;

    background:#dbe6ff;

    cursor:pointer;

    transition:0.3s ease;
}

.journal-card:hover{
    transform:translateY(-8px);
}

.card-img{
    width:100%;
    height:330px;

    position:relative;

    background:#2c2868;
}

.card-img span{
    position:absolute;

    top:14px;
    left:14px;

    background:#fff;

    padding:5px 10px;

    border-radius:6px;

    border:2px solid #222;

    font-size:18px;
    font-weight:700;

    z-index:10;
}

.card-img img{
    width:100%;
    height:100%;

    object-fit:cover;
}

.card-bottom{
    width:100%;
    height: 60px;
    padding:20px 16px;
    display: flex;
    align-items: center;
    background:#bfd0ef;
    border-top:2px solid #222;
}

.card-bottom h3{
    font-size:14px;
    line-height:30px;
    font-weight:500;
    letter-spacing:1px;
}

.journal-btn{
    width:100%;

    display:flex;
    justify-content:center;

    margin-top:70px;
}

.journal-btn button{
    padding:22px 60px;

    border:none;
    border-radius:50px;

    background:#2c2868;
    color:#fff;

    font-size:24px;

    cursor:pointer;

    transition:0.3s ease;
}

.journal-btn button:hover{
    transform:scale(1.05);
}



@media(max-width:700px){
    

    .top22{
        padding:45px 18px 25px 18px;
    }

    .top22 span{
        font-size:24px;
        padding:7px 14px;
        margin-bottom:25px;
        margin-left: 70px;
    }

  .top22 h1{ 
    margin-left:10px;
    line-height:52px;
    font-family:serif;
    font-weight:400;
}


    #page8{
        padding:40px 14px 60px 14px;
    }

    .page8-top{
        margin-bottom:40px;
    }

    .page8-top h1{
        width:100%;

        font-size:42px;
        line-height:52px;
    }

    .journal-cards{
        gap:22px;
    }

    .journal-card{
        width:100%;
    }

    .card-img{
        height:290px;
    }

    .card-img span{
        font-size:14px;
        padding:4px 8px;
    }

    .card-bottom{
        padding:16px 14px;
    }

    .card-bottom h3{
        font-size:16px;
        line-height:26px;
    }

    .journal-btn{
        margin-top:45px;
    }

    .journal-btn button{
        width:100%;

        padding:18px;

        font-size:18px;
    }

}
#page9{
    width:100%;
    min-height:100vh;
    background-image:url("//www.twoleavestea.com/cdn/shop/files/Two_Leaves_Tea_Aug_25_Shoot-14x_SQ_1_d549e6bb-f1ad-4b36-a851-05e1af195a31.webp?v=1771593222&width=3200");
    background-size:cover;
    background-position:center;

    position:relative;
}

.page9-overlay{
    width:100%;
    height:100%;

    padding:40px;

    display:flex;
    align-items:flex-start;
}

.left-box{
    width:430px;
    height:670px;
    background:#f96508;
    border:2px solid #222;
    border-radius:18px;
    padding:55px 40px;
}

.left-box h1{
    color:#fff;
    font-size:56px;
    font-family:serif;
    font-weight:400;
}
.left-box p{
    margin-top: 190px;
      color:#fff;
      font-size: 20px;
}
.left-box button{
    margin-top: 50px;
    height: 50px;
    border-radius: 25px;
    width: 160px;
}
.left-box button h3{
    font-size: 30px;
}
#footer{
    width:100%;
    height:380px;
    background:#bfd1f0;
    padding:0 90px;
}
.top123 {
  margin-left: 230px;
  margin-bottom: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.top123 h1{
    font-size: 40px;
    font-weight: 500;
}
.top123 p{
    font-size: 20px;
    margin-top: 20px;
}

.ftbottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-left input{
    width:380px;
    height:74px;
    margin-top: 50px;
    border:2px solid #444;
    border-radius:16px;

    padding:0 24px;

    background:#f4f4f4;

    font-size:24px;

    outline:none;
}
.footer-left button{
    height: 50px;
    border-radius: 25px;
    width: 160px;
    background-color: blue;
    color: #fff;
}
.footer-left input::placeholder{
    color:#999;
}

.footer-right{
    display:flex;
    align-items:center;

    gap:18px;
}

.social{
    width:74px;
    height:74px;
   margin-top: 50px;
    border:2px solid #222;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:#fff;

    cursor:pointer;

    transition:0.3s ease;
}

.social i{
    font-size:34px;
}

.social:hover{
    transform:translateY(-5px);
}

@media(max-width:700px){

    #page9{
        height:620px;
        background-position:center;
    }
  #page9 .bottom p{
    display: none;
  }
    .page9-overlay{
        padding:20px;
    }

    .left-box{
        width:230px;
        height:300px;

        padding:28px 22px;
    }

    .left-box h1{
        font-size:36px;
        line-height:58px;
    }
     


    #footer{
        height:auto;

        padding:35px 20px;

        flex-direction:column;

        gap:35px;
    }

    .footer-left{
        width:100%;
    }

    .footer-left input{
        width:100%;
        height:62px;

        font-size:18px;

        border-radius:14px;
    }

    .footer-right{
        gap:14px;
    }

    .social{
        width:58px;
        height:58px;
    }

    .social i{
        font-size:26px;
    }

}
#page10{
    width: 100%;
    min-height: 100vh;
    background-color: #c8d9f0;
    padding: 2vw;
}
.footer-top{
    width: 100%;

    background-color: #27245c;

    border-radius: 20px;

    padding: 3vw 2vw;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 3vw;
}


.footer-col{
    display: flex;
    flex-direction: column;

    gap: .8vw;
}


.footer-col h3{
    color: white;

    font-size: 1.5vw;
    font-weight: 500;

    margin-bottom: 1vw;
}

.footer-col a{
    width: fit-content;

    text-decoration: none;

    color: #9d9cb7;

    font-size: 1.1vw;

    position: relative;

    transition: all ease .3s;
}



.footer-col a::after{
    content: "";

    position: absolute;

    left: 0;
    bottom: -2px;

    width: 0%;
    height: 1px;

    background-color: white;

    transition: all ease .4s;
}

.footer-col a:hover{
    color: white;
}

.footer-col a:hover::after{
    width: 100%;
}

.footer-center{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-center img{
    margin-left: 450px;
    margin-top: 100px;
    height: 120px;

}
@media (max-width:600px){

    #page10{
        padding: 5vw;
    }

    .footer-top{
        padding: 8vw 6vw;

        flex-direction: column;

        gap: 10vw;

        border-radius: 15px;
    }

    .footer-col{
        gap: 3vw;
    }

    .footer-col h3{
        font-size: 6vw;

        margin-bottom: 3vw;
    }

    .footer-col a{
        font-size: 4vw;
    }
}

@media screen and (min-width:1366px) and (max-width:1600px){

    .navbar{
        width:96%;
    }

    .hero-left{
        width:42%;
    }

    .hero-left h1{
        font-size:80px;
        line-height:80px;
    }

    .hero-left p{
        font-size:20px;
        line-height:32px;
    }

    #page4 h1{
        font-size:110px;
        line-height:110px;
    }

    #page4 p{
        width:75%;
        font-size:42px;
        line-height:56px;
    }

    .discover{
        width:65%;
    }

    .discover h1{
        font-size:65px;
        line-height:75px;
    }

    .top{
        padding-left:80px;
    }

    .top h1{
        font-size:65px;
        line-height:75px;
    }

    .top span{
        font-size:42px;
    }

    .page6-right{
        padding-left:40px;
    }

    .page6-right h1{
        font-size:65px;
        line-height:75px;
    }

    .slider-right h2{
        font-size:70px;
    }

    .slider-right p{
        font-size:22px;
        line-height:34px;
    }

    .top22 span{
        margin-left:150px;
    }

    .top22 h1{
        width:80%;
        margin-left:150px;
        font-size:50px;
        line-height:55px;
    }

    .footer-center img{
        margin-left:0;
    }

    .footer-center{
        justify-content:center;
    }
     #page4{
        min-height:170vh;
        height:auto;
        padding-bottom:120px;
    }

    #page4 h1{
        font-size:110px;
        line-height:110px;
    }

    #page4 p{
        width:75%;
        font-size:42px;
        line-height:55px;
    }

    .stickers{
        margin-top:20px;
        margin-bottom:50px;
    }

    .btn{
        margin-top:50px;
    }


    .reviews{
        display:flex;
        flex-wrap:nowrap;
        overflow-x:auto;
        gap:20px;
        padding-bottom:20px;
        justify-content:flex-start;
    }

    .reviews::-webkit-scrollbar{
        height:8px;
    }

    .review-card{
        flex-shrink:0;
        width:290px;
        min-height:620px;
        height:auto;
    }

    .review-text h2{
        font-size:20px;
        line-height:42px;
    }

    .review-text p{
        font-size:18px;
    }


    .top22{
        align-items:center;
        text-align:center;
    }

    .top22 span{
        margin-left:0;
    }

    .top22 h1{
        margin-left:0;
        width:90%;
        text-align:center;
    }

    .footer-center{
        justify-content:center;
    }

    .footer-center img{
        margin-left:0;
    }

    #page10{
        min-height:auto;
    }
}
